[Unit]
Description=Servidor Web FastAPI COBALTO Hub
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/app/COBALTO
ExecStart=/usr/bin/python3 app.py
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
